.form {


    & .container {
        max-width: 1180px;
        min-height: 196px;
        border-radius: 6px;
        box-shadow: 0 0 15px 0 rgba(24, 18, 30, 0.12);
        background: #fdfdfd;
        gap: 64px;
        transform: translateY(98px);
    }

    &__title {
        display: flex;
        gap: 8px;
        flex-direction: column;
        padding-top: 40px;
        padding-left: 100px;

        &-text {
            font-weight: 800;
            font-size: 26px;
            line-height: 120%;
            color: #18121e;
        }
    }

    &__comment {
        font-weight: 400;
        font-size: 18px;
        line-height: 111%;
        color: var(--color-yellow);
    }

    &__input {
        display: flex;
        flex-direction: column;
        gap: 8px;

        &-email {
            font-family: var(--font-family);
            font-weight: 600;
            font-size: 16px;
            line-height: 125%;
            color: #18121e;
        }

        &-text {
            display: flex;
            flex-direction: column;
            gap: 8px;
            padding-top: 40px;



            &-form {
                display: flex;
                gap: 16px;
            }

            &-email {
                border-radius: 4px;
                padding: 0px 16px;
                width: 280px;
                height: 44px;
                font-weight: 300;
                font-size: 14px;
                line-height: 143%;
                color: var(--color-dark-green);
                background-color: var(--color-back);
                border: none;
                outline: none;
            }
        }
    }

    &__btn {
        display: flex;
        border-radius: 4px;
        padding: 12px 24px;
        width: 240px;
        height: 44px;
        background: var(--color-back-btn);
        font-weight: 600;
        font-size: 16px;
        line-height: 125%;
        letter-spacing: 0.01em;
        color: var(--color-white);
        justify-content: center;
    }

    &__input-text-politic {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 14px;
        line-height: 129%;
        color: var(--color-dark-green);
    }

    @media screen and (max-width: 1200px) {

        & .container {
            transform: translateY(0);
            margin: 50px 16px;
            padding: 0;
            width: auto;
            flex-direction: column;
            gap: 18px;
            align-items: center;
        }

        &__title {
            padding-top: 24px;
            padding-left: 0;
            align-items: center;
            padding-top: 24px;
        }

        &__input {
            padding: 24px;
            align-items: center;

            &-text {
                width: 100%;
                padding-top: 0;

                &-email {
                    width: 100%;
                }
            }

            &-text-form {
                flex-direction: column;
                align-items: center;
            }

            &-text-politic {
                width: 100%;
                text-align: center;
            }
        }

        &__btn {
            width: 100%;
            
        }

        @media screen and (max-width: 768px) {

            &__title {
                padding: 24px;
            }
        }

        @media screen and (max-width: 579px) {

            &__text-title {
                text-align: center;
            }
        }

    }
}