.header {
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    padding: 16px 0;

    & .container {
        display: flex;
        justify-content: space-between;        
    }    

    &__nav-btn {
        display: flex;
    }

    &__nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        gap: 49px;

    }

    &__list {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 24px;

    }

    &__list-link {
        text-decoration: none;
        color: var(--color-white);
        font-weight: 600;
        font-size: 18px;
    }

    &__btn {
        display: flex;
        text-align: center;
    }

    &__btn-text {
        display: block;
        color: var(--color-white);
        font-weight: 600;
        font-size: 16px;
        line-height: 125%;
        background-color: var(--color-back-btn);
        max-width: 157px;
        height: 44px;
        border-radius: 4px;
        padding: 12px 24px;
        cursor: pointer;
    }

    &__burger {
        display: none;
    }

}