.hero {
    background-image: url(/src/assets/img/back-hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    &__container {
        display: flex;
    }

    &__title-text {
        font-weight: 700;
        font-size: 50px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #fdfdfd;
        padding: 463px 0 41px 0;
        text-transform: uppercase;
    }

    &__checklist {
        display: flex;
        flex-direction: row;
        gap: 24px;
        justify-content: center;
        margin-bottom: 82px;
        backdrop-filter: blur(6px);
        background: rgba(255, 255, 255, 0.2);
        border-radius: 10px;
        width: 1180px;
        height: 161px;
        align-content: center;
        flex-wrap: wrap;
    }

    &__checklist-text {
        display: flex;
        flex-direction: column-reverse;
    }

    &__checklist-comment {
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #fdfdfd;
        padding: 8px 0px;
        width: 270px;
        height: 21px;
    }

    &__input-text {
        padding: 14px 16px;
        background: transparent;
        color: var(--color-white);
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        outline: none;
        border: 1px solid #e1e3e4;
        border-radius: 8px;
        max-width: 270px;
        max-height: 52px;
    }

    &__butn-search {
        display: flex;
        text-align: center;
    }

    &__butn-search-text {
        display: block;
        color: var(--color-back-btn);
        font-weight: 700;
        font-size: 16px;
        line-height: 125%;
        background-color: var(--color-white);
        max-width: 213px;
        height: 52px;
        border-radius: 4px;
        padding: 16px 36px;
    }
}