.hero {
    background-image: url(/src/assets/img/back-hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    &__container {
        display: flex;
    }

    &__title-text {
        font-weight: 700;
        font-size: 50px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #fdfdfd;
        padding: 463px 0 41px 0;
        text-transform: uppercase;
        height: auto; // Добавьте - автоматическая высота
        word-wrap: break-word; // Перенос слов
        white-space: normal;
    }

    &__form {
        display: flex;
        flex-direction: row;
        gap: 24px;
        padding: 40px 42px;
        margin-bottom: 82px;
        backdrop-filter: blur(6px);
        background: rgba(255, 255, 255, 0.2);
        border-radius: 10px;
        max-width: 1180px;
        min-height: 161px;
        align-content: center;
        flex-wrap: wrap;
    }

    &__checklist-input {
        display: flex;
        flex-direction: row;
    }

    &__checklist-text {
        display: flex;
        flex-direction: column-reverse;
        flex: 1;
    }

    &__checklist-comment {
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #fdfdfd;
        padding: 8px 0px;
        width: 270px;

    }

    &__input-text {
        padding: 14px 16px;
        background: url(/src/assets/img/ep_arrow-down.svg) no-repeat right 15px center;
        color: var(--color-white);
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        outline: none;
        border: 1px solid #e1e3e4;
        border-radius: 8px;

    }

    &__type-submit-phone {
        display: none;
    }

    &__type-submit {        
        text-align: center;
        flex: 1;
        width: 100%;
        display: block;
        color: var(--color-back-btn);
        font-weight: 700;
        font-size: 16px;
        line-height: 125%;
        background-color: var(--color-white);
        height: 52px;
        border-radius: 4px;
        padding: 16px 36px;
    }

    @media screen and (max-width: 1200px) {
        &__title-text {
            font-size: 35px;
            padding: 360px 0 32px 0;
        }

        &__form {
            display: grid;
            width: 100%;
            max-width: 1180px;
            height: auto;
            padding: 20px;
            grid-template-columns: repeat(2, 1fr);

        }

        &__checklist-comment {
            width: auto;
        }

        &__input-text {
            max-width: none;
            width: 100%;
        }

        &__type-submit {
            width: 100%;
            display: block;
        }
    }

    @media screen and (max-width: 768px) {

        &__title-text {
            font-size: 25px;
        }

        &__input-text {
            width: 100%;
            font-size: 14px;
        }

        &__checklist-comment {
            font-size: 12px;
        }

        &__type-submit {
            font-size: 14px;
        }
    }

    @media screen and (max-width: 576px) {

        &__content {
            gap: 32px;
        }

        &__title-text {
            font-size: 28px;
            padding: 234px 29px 32px 16px;
            font-weight: 700;
            font-size: 28px;
            line-height: 150%;
            height: auto;
            overflow: visible;
            white-space: normal;
            word-break: break-word;
            max-width: 100%;
        }

        &__form {
            display: none;
        }

        &__type-submit-phone {
            display: block;
            color: var(--color-back-btn);
            font-weight: 700;
            font-size: 16px;
            line-height: 125%;
            background-color: var(--color-white);
            max-width: 213px;
            height: 52px;
            border-radius: 4px;
            padding: 16px 36px;
            margin-bottom: 50px;
        }
    }
}