.popular {

    & .container {        
        gap: 50px;
        flex-direction: column;
    }

    &__title {

        display: flex;
        padding-top: 80px;
        gap: 8px;
        flex-direction: column;

        &-comment {
            font-weight: 400;
            font-size: 24px;
            line-height: 83%;
            text-align: center;
            color: #f2be22;
        }

        &-text {
            font-weight: 800;
            font-size: 32px;
            line-height: 120%;
            text-align: center;
            color: #18121e;
        }
    }

    &__img {
        display: flex;
        gap: 20px;
    }

    &__btn {
        display: flex;
        text-align: center;
        justify-content: center;
        padding-bottom: 100px;

        &-text {
            display: block;
            color: var(--color-white);
            font-weight: 600;
            font-size: 16px;
            line-height: 125%;
            background-color: var(--color-back-btn);
            border-radius: 4px;
            padding: 16px 36px;
            max-width: 244px;
            max-height: 52px;            
        }
    }



}