.popular {

    & .container {
        gap: 50px;
        flex-direction: column;
        
    }

    &__title {

        display: flex;
        padding-top: 80px;
        gap: 8px;
        flex-direction: column;

        &-comment {
            font-weight: 400;
            font-size: 24px;
            line-height: 83%;
            text-align: center;
            color: #f2be22;
        }

        &-text {
            font-weight: 800;
            font-size: 32px;
            line-height: 120%;
            text-align: center;
            color: #18121e;
        }
    }

    &__list {
        display: flex;
        gap: 20px;
        position: relative; 
        
        
        &-item {
            position: relative;
            overflow: hidden;
            scroll-snap-align: start;
        }
    }

    &__item-anim {        

        &:hover {
            transform: translateY(-100px);
            transition: 1s;            
        }
    }

    &__item-rating {
        position: absolute;
        display: flex;
        right: 0;
        top: 50px;
        border-radius: 4px 0 0 4px;
        padding: 4px 8px;
        width: 65px;
        height: 32px;
        backdrop-filter: blur(4px);
        background: rgba(253, 253, 253, 0.4);
        align-items: center;
        justify-content: center;

        &-text {
            font-weight: 700;
            font-size: 14px;
            line-height: 129%;
            color: #1a3e3e;
        }
    }

    &__item-text {
        position: absolute;
        display: flex;
        bottom: 0;
        border-radius: 0 0 32px 32px;
        width: 100%;
        height: 200px;        
        backdrop-filter: blur(6px);
        background: rgba(255, 255, 255, 0.2);
        flex-direction: column;
        font-family: var(--font-family);
        color: var(--color-white);
        padding-left: 32px;
        justify-content: center;
        transform: translateY(60%);
    }

    &__item-title {
        font-weight: 700;
        font-size: 24px;
        line-height: 120%;        
        padding-top: 20px;
        padding-bottom: 30px;
    }

    &__item-comment {
        font-weight: 400;
        font-size: 14px;
        line-height: 129%;
        height: 100%;
    }

    &__item-price {
        position: absolute;
        display: flex;
        transform: translate(270px, -63px);
        border-radius: 4px;
        padding: 8px 16px;
        width: 86px;
        height: 40px;
        background: rgba(255, 255, 255, 0.3);
        align-items: center;
        justify-content: center;
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 20px;
        line-height: 120%;
        color: var(--color-white);
    }

    &__btn {
        display: flex;
        text-align: center;
        justify-content: center;
        padding-bottom: 100px;

        &-text {
            display: block;
            color: var(--color-white);
            font-weight: 600;
            font-size: 16px;
            line-height: 125%;
            background-color: var(--color-back-btn);
            border-radius: 4px;
            padding: 16px 36px;
            max-width: 244px;
            max-height: 52px;
            width: 100%;
        }
    }

    @media screen and (max-width: 1200px) {

        &__list {
            overflow-x: auto;            
            scroll-snap-type: x mandatory;
            flex-wrap: nowrap;
            scroll-behavior: smooth;            
        }
        
        &__list-item {
            flex: 0 0 auto;
        }
    }

    @media screen and (max-width: 576px) {

        & .container {
            gap: 32px;
            padding: 50px 16px;
        }

        &__title {
            padding: 0;
            align-items: flex-start;

            &-comment {
                font-size: 16px;
            }

            &-text {
                font-size: 24px;
            }
        }

        &__btn {
            padding: 0;
        }
    }
}
